<footer>
    <div class="row">
        <div class="col footer__social">
            <div class="row img__social justify-content-center">
                <img src="assets/logo_ups.png" alt="">
            </div>
            <div class="row titulo__social">
                <p>Síguenos en: </p>
            </div>
            <div class="container__social row row-cols-lg-1 row-cols-sm-1 row-cols-1">
                <a class="col facebook cajas_redes" href="">
                    <div>
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </a>
                <a class="col instagram cajas_redes" href="">
                    <div>
                        <i class="fab fa-instagram"></i>
                    </div>
                </a>
                <a class="col github cajas_redes" href="">
                    <div>
                        <i class="fab fa-github-alt"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col footer__paginas">
            <h5>Páginas</h5>
            <a href="">
                <p>Inicio</p>
            </a>
            <a href="">
                <p>Acerca de nosotros</p>
            </a>
            <a href="">
                <p>Laboratorios</p>
            </a>
            <a href="">
                <p>Docentes</p>
            </a>
            <a href="">
                <p>Contáctanos</p>
            </a>
            <a href="">
                <p> Iniciar Sesión</p>
            </a>
        </div>
        <div class="col footer__documentos">
            <h5>Servicios</h5>
            <a href="">
                <p>Ver Horarios</p>
            </a>
            <a href="">
                <p>Consultar Eventos</p>
            </a>
            <a href="">
                <p>Ver Historial de préstamos</p>
            </a>
            <a href="">
                <p>Reservar Laboratorio</p>
            </a>
        </div>
        <div class="col footer__enlaces">
            <h5>Enlaces</h5>
            <a href="">
                <p>Anuncios</p>
            </a>
            <a href="">
                <p>Servicios</p>
            </a>
            <a href="">
                <p>Eventos próximos</p>
            </a>
            <a href="">
                <p>Laboratorios</p>
            </a>
        </div>
        <div class="row footer__copy">
            <p>Universidad Politécnica Salesiana | 2022 Todos los derechos reservados</p>
    
        </div>
       
    </div>
   
</footer>