.btn_salir{
    position: absolute;
    z-index: 100;
    border: none;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: brown;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn_salir:hover{
    background-color: rgb(136, 49, 49);
}