<!DOCTYPE html>
<html lang="es">
<app-encabezado></app-encabezado>

<body>
    <header id="barra_navegacion">
        <div class="container_img"><a class="navbar-brand" routerLink="/index"><img class="img-fluid" src="assets/brand_logo.png" alt=""></a> <button
            style="background-color: none; border: none; background: none;color:white; font-size: 25px" onclick=""
            id="btn_sonido"></button></div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5 bg-body rounded">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
            
                      <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Inicio </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/acerca"><i class="fas fa-user"></i> Acerca </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/laboratorios"><i class="fas fa-flask"></i> Laboratorios </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/docentes"><i class="fas fa-id-card-alt"></i> Docentes </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/eventos"><i class="fas fa-calendar-alt"></i> Eventos </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contactanos"><i class="fas fa-map-marked-alt"></i> Contáctanos </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    </header>

<div class="container">

    <figure class="text-center">
      <h1 class="h1" style="color: rgb(18, 69, 122);">Docentes</h1>
      <p aria-hidden="true">
        <span class="placeholder col-3" style="background-color: rgb(255, 219, 0);"></span>
      </p>
    </figure>
    
    <div class="row align-items-start">
        <div class="d-flex" style="height: 500px;">
        <div class="col"> 
                                     
            <div style="margin-left: 30%;" class="btn-group-vertical">
              
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                    PATSY MALENA PRIETO VELEZ
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1" >
                    DANIEL GIOVANNY DIAZ ORTIZ
                </button>
                
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">
                    ALBARRACIN ZAMBRANO RICARDO HUMBERTO
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">
                    PAULINA ADRIANA MORILLO ALCIVAR
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample4">
                    WALTER FERNANDO GAIBOR NARANJO
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample5">
                    VIVIANA DE LOS ANGELES TIXILIMA CISNEROS
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample6" aria-expanded="false" aria-controls="collapseWidthExample6">
                    MARCELA GALLEGOS
                </button>
            </div>
        
            
        
        </div><div class="d-flex"style="height: 500px;"> <div class="vr"></div> </div>  
        
        <div class="col"> 
            <div style="margin-left: 5%;">
            <div style="min-height: 120px;">
                <div class="collapse.show" id="collapseWidthExample">
                    <div class="card card-body" style="width: 350px;"  >
                        <img src="../../assets/img/Pprieto.jpg" alt="PATSY MALENA PRIETO VELEZ">
                        PATSY MALENA PRIETO VELEZ
                    <br>       
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    <ul>
                        Educación
                    <li> INGENIERA EN SISTEMAS INFORMATICOS Y DE COMPUTACION</li>
                    <li>MAGISTER EN GESTION INFORMATICA EMPRESARIAL</li>
                    </ul>    
                    
                    <ul>Asignaturas Dictadas
                    <li>  PLATAFORMAS WEB | COMPUTACIÓN</li>
                    <li>SISTEMAS DE INFORMACIÓN | COMPUTACIÓN</li>
                    </ul>    
                        pprieto@ups.edu.ec

                    </div>
                    
                
             </div>

            
                <div class="collapse collapse-horizontal" id="collapseWidthExample1">
                    <div  class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/Ddiaz.jpg" class="img-thumbnail" alt="DANIEL GIOVANNY DIAZ ORTIZ">
                        DANIEL GIOVANNY DIAZ ORTIZ
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERO DE SISTEMAS</li>
                            <li>MASTER UNIVERSITARIO EN SOFTWARE LIBRE</li>
                            <li>  MAGISTER EN REDES DE COMUNICACIONES</li>
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li>  PLATAFORMAS MÓVILES | COMPUTACIÓN</li>
                            <li>  PROGRAMACIÓN APLICADA | COMPUTACIÓN</li>
                            <li>  PROGRAMACIÓN HIPERMEDIAL | COMPUTACIÓN</li>
                            <li>  SEGURIDAD DE REDES (T) | INGENIERÍA DE SISTEMAS [UNIFICADA]</li>
                      </ul>     
                        ddiaz@ups.edu.ec
                    
                    </div>
               
             </div>
            
          
                <div class="collapse collapse-horizontal" id="collapseWidthExample2">
                    <div class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/Ralbarracin.jpg" class="img-thumbnail" alt="ALBARRACIN ZAMBRANO RICARDO HUMBERTO">
                        ALBARRACIN ZAMBRANO RICARDO HUMBERTO
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERO DE SISTEMAS DE COMPUTACION E INFORMATICA</li>
                            <li>MAGISTER EN GESTION INFORMATICA EMPRESARIAL</li>
                            
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li>  FUNDAMENTOS DE BASE DE DATOS | COMPUTACIÓN</li>
                            <li>  GESTIÓN DE BASE DE DATOS | COMPUTACIÓN</li>
                            <li> INTELIGENCIA DE NEGOCIOS | COMPUTACIÓN</li>
                            <li> SISTEMAS DE INFORMACION GEOGRAFICAS (G) | INGENIERÍA DE SISTEMAS [UNIFICADA]</li>
                      </ul>     
                      ralbarracin@ups.edu.ec
                    
                    </div>
               
             </div>

             
                <div class="collapse collapse-horizontal" id="collapseWidthExample3">
                    <div class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/sn.JPG" class="img-thumbnail" alt=" PAULINA ADRIANA MORILLO ALCIVAR">
                        PAULINA ADRIANA MORILLO ALCIVAR
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERA EN ELECTRONICA Y TELECOMUNICACIONES</li>
                            <li>MASTER UNIVERSITARIO EN GESTION DE LA INFORMACIÓN</li>
                          
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li>  MÉTODOS NUMÉRICOS | ASIGNATURAS COMUNES</li>
                            <li>  SISTEMAS EXPERTOS | COMPUTACIÓN</li>
                            <li>  TRABAJO DE TITULACIÓN | COMPUTACIÓN</li>
                            <li>  ANÁLISIS NUMÉRICO Y PROGRAMACIÓN | INGENIERÍA CIVIL</li>
                      </ul>     
                        pmurillo@ups.edu.ec
                    
                    </div>
                
             </div>


           
                <div class="collapse collapse-horizontal" id="collapseWidthExample4">
                    <div class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/snH.JPG" class="img-thumbnail" alt="WALTER FERNANDO GAIBOR NARANJO">
                        WALTER FERNANDO GAIBOR NARANJO
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERO DE SISTEMAS EN COMPUTACION E INFORMATICA</li>
                            <li>TECNOLOGO EN ANALISIS DE SISTEMAS INFORMATICOS</li>
                            <li> BACHILLER EN CIENCIAS</li>
                            <li> MAGISTER EN GERENCIA DE SISTEMAS Y TECNOLOGIAS DE LA INFORMACIÓN</li>
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li> CALIDAD DE SOFTWARE | COMPUTACIÓN</li>
                            <li> ESTRUCTURA DE DATOS | COMPUTACIÓN</li>
                            <li>FUNDAMENTOS DE SISTEMAS OPERATIVOS | COMPUTACIÓN</li>
                            <li> EVALUACION DE SISTEMAS DE INFORMACION (G) | INGENIERÍA DE SISTEMAS [UNIFICADA]</li>
                      </ul>     
                      wgaibor@ups.edu.ec
                    
                    </div>
               
             </div>

            
            
                <div class="collapse collapse-horizontal" id="collapseWidthExample5">
                    <div class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/sn.JPG" class="img-thumbnail" alt="VIVIANA DE LOS ANGELES TIXILIMA CISNEROS">
                        VIVIANA DE LOS ANGELES TIXILIMA CISNEROS
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERO DE SISTEMAS</li>
                            <li>MAGISTER EN REDES DE COMUNICACIONES</li>
                            
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li> REDES DE COMPUTADORAS I | ASIGNATURAS COMUNES</li>
                            <li> REDES DE COMPUTADORAS II | ASIGNATURAS COMUNES</li>
                            <li> NETWORKING | COMPUTACIÓN</li>
                            <li> REDES INALÁMBRICAS | COMPUTACIÓN</li>
                            <li> ENLACES DE COMUNICACION (T) | INGENIERÍA DE SISTEMAS [UNIFICADA]</li>
                      </ul>     
                     vtixilima@ups.edu.ec
                    
                    </div>
                
             </div>
             
             
             
            
                <div class="collapse collapse-horizontal" id="collapseWidthExample6">
                    <div class="card card-body" style="width: 350px;">
                        <img src="../../assets/img/sn.JPG" class="img-thumbnail" alt=" MARCELA GALLEGOS">
                       MARCELA GALLEGOS
                        <br>
                        DIRECCION DE CARRERA DE INGENIERIA DE SISTEMAS
                    
                      <ul>    Educación
                            <li>INGENIERO DE SISTEMAS EN COMPUTACION E INFORMATICA</li>
                            <li>TECNOLOGO EN ANALISIS DE SISTEMAS INFORMATICOS</li>
                            <li> BACHILLER EN CIENCIAS</li>
                            <li> MAGISTER EN GERENCIA DE SISTEMAS Y TECNOLOGIAS DE LA INFORMACIÓN</li>
                      </ul>  
                      <ul>  Asignaturas Dictadas
                            <li> CALIDAD DE SOFTWARE | COMPUTACIÓN</li>
                            <li> ESTRUCTURA DE DATOS | COMPUTACIÓN</li>
                            <li>FUNDAMENTOS DE SISTEMAS OPERATIVOS | COMPUTACIÓN</li>
                            <li> EVALUACION DE SISTEMAS DE INFORMACION (G) | INGENIERÍA DE SISTEMAS [UNIFICADA]</li>
                      </ul>     
                      wgaibor@ups.edu.ec
                    
                    </div>
                </div>
             </div>


            </div>
        </div>
        </div>  
    </div>
</div>
        
<br><br>    <br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>

</body>

</html>
    

    

    
