<div class="container">

    <figure class="text-center">
      <h1 class="h1" style="color: rgb(18, 69, 122);">Actualizar Datos</h1>
      <p aria-hidden="true">
        <span class="placeholder col-3" style="background-color: rgb(255, 219, 0);"></span>
      </p>
    </figure>

    
  <div class="row align-items-start">

        <div class="col"> 
            <form class="row g-3" style="margin-left: 30%; width: 500px;">
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Ubicación</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Celular</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="+593 123456789">
                 </div>
                
                <div class="col-md-12">
                    <label for="inputPassword5" class="form-label">Nueva Contraseña </label>
                    <input type="password" class="form-control" id="inputPassword4">
                  </div>
               
                
                <figure class="text-center">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Actualizar
                </button>
                
              
                

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                    <div class="col-md-12">
                        <label for="inputPassword4" class="form-label">Contraseña Anterior</label>
                        <input type="password" class="form-control" id="inputPassword4">
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="liveAlertBtn">Confirmar</button>
                </div>
            </figure>
              </form>
        </div>
      
    </div>   

</div>  