<!DOCTYPE html>
<html lang="es">
<app-encabezado></app-encabezado>

<body>
    <header id="barra_navegacion">
        <div class="container_img"><a class="navbar-brand" routerLink="/index"><img class="img-fluid" src="assets/brand_logo.png" alt=""></a> <button
            style="background-color: none; border: none; background: none;color:white; font-size: 25px" onclick=""
            id="btn_sonido"></button></div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5 bg-body rounded">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
            
                      <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Inicio </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/acerca"><i class="fas fa-user"></i> Acerca </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/laboratorios"><i class="fas fa-flask"></i> Laboratorios </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/docentes"><i class="fas fa-id-card-alt"></i> Docentes </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/eventos"><i class="fas fa-calendar-alt"></i> Eventos </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contactanos"><i class="fas fa-map-marked-alt"></i> Contáctanos </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
    </header>

    <div class="col rounded caja_redes">
        <div class="row"> <a href="" class="instagram"><i class="fab fa-instagram"></i></a></div>
        <div class="row"><a href="" class="facebook"><i class="fab fa-facebook"></i></a></div>
        <div class="row"><a href="" class="whatsapp"><i class="fab fa-whatsapp"></i></a></div>
        <div class="row"><a href="" class="github"><i class="fab fa-github"></i></a></div>
    </div>
    <div class="row container_banner gap-4">
        <div class="row titulo_feups">
            <h1>Bloque D</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">

            <div class="row descripcion_feups">
                Se ubica diagonal al bloque C junto a las canchas deportivas. Consta de dos plantas. En la planta alta
                se encuentra el auditorio Padre José Carollo y en la planta bajo los laboratorios CISCO.
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 ">
            <div class="col descripcion_mision">
                <div class="row titulo">
                    <h1>MISIÓN</h1>
                </div>
                <div class="row franja_amarilla">

                </div>
                <br>
                <div class="row descripcion pe-4">
                    Ofrecer servicios de calidad para los estudiantes de la carrera de ciencias de la computación con el
                    uso de los laboratorios disponibles en el bloque D, donde cada uno puedan utilizar los recursos
                    disponibles que hay en cada laboratorio.
                </div>
            </div>
            <div class="col img_portada">
                <img src="/assets/IMG_8082.jpeg" alt="">
            </div>
        </div>
    </div>
    <!-- Misión -->
    <div class="row banner_valores">
        <div class="row titulo_blanco">
            <h1>HERRAMIENTAS</h1>
        </div>
        <br><br><br>
        <div class="row franja_blanca"></div>
        <br><br><br>
        <div class="row valores row-cols-auto justify-content-center gap-3">
            <div class="col rounded-circle">
                <div class="row icono">
                    <i class="fas fa-hdd"></i><br>
                    <h1>Routers</h1>
                </div>
            </div>
            <div class="col rounded-circle">
                <div class="row icono">
                    <i class="fas fa-server"></i><br>
                    <h1>Switchs</h1>
                </div>
            </div>
            <div class="col rounded-circle">
                <div class="row icono">
                    <i class="fas fa-tablet-alt"></i><br>
                    <h1>Ipads</h1>
                </div>
            </div>
            <div class="col rounded-circle">
                <div class="row icono">
                    <i class="fas fa-memory"></i><br>
                    <h1>Interfaces</h1>
                </div>
            </div>

        </div>

    </div>
    <br>
    <br>
    <!-- Visión -->
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 ">
            <div class="col descripcion_mision order-lg-last">
                <div class="row titulo">
                    <h1>VISIÓN</h1>
                </div>
                <div class="row franja_amarilla">

                </div>
                <br>
                <div class="row descripcion ps-4">
                    Ser un departamento que proporcione los recursos y servicios más especializados y de alta calidad para estudiantes y docentes del bloque D
                    , donde puedan aumentar su conocimiento práctico a través del uso de las herramientas disponibles.
                </div>
            </div>
            <div class="col img_portada order-lg-first">
                <img src="/assets/IMG_8074.jpeg"  alt="">
            </div>
        </div>
    </div>

    <!-- Integrantes -->
    <div class="integrantes">
        <div class="row">
            <div class="row titulo_blanco">
                <h1>DESARROLLADORES <i class="fas fa-users"></i></h1>
            </div>
            <br><br><br>
            <br><br>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row iconos_integrantes justify-content-center row-cols-auto gap-4">
            <div class="col">
                <div class="row imagen">
                    <img class="rounded-circle" src="/assets/Mike.jpg" alt="">
                </div>
                <br>
                <div class="row titulo">
                    <h1><i class="fas fa-feather-alt"></i>Michael Robles</h1>
                </div>
                <div class="row">
                    <div class="col redes">
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col redes">

                        <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row imagen">
                    <img class="rounded-circle" src="/assets/sebastian.jpeg" alt="">
                </div>
                <br>
                <div class="row titulo">
                    <h1><i class="fas fa-feather-alt"></i>Sebastián Raza</h1>
                </div>
                <div class="row">
                    <div class="col redes">
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col redes">

                        <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row imagen">
                    <img class="rounded-circle" src="/assets/Paul.jpeg" alt="">
                </div>
                <br>
                <div class="row titulo">
                    <h1><i class="fas fa-feather-alt"></i>Paúl Morales</h1>
                </div>
                <div class="row">
                    <div class="col redes">
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col redes">

                        <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                    </div>
                    <div class="col redes">
                        <a href=""><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <app-footer></app-footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

</body>

</html>