<div class="container_img"><a class="navbar-brand" routerLink="/index"><img class="img-fluid" src="assets/brand_logo.png" alt=""></a> <button
style="background-color: none; border: none; background: none;color:white; font-size: 25px" onclick=""
id="btn_sonido"></button></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5 bg-body rounded">
  <!-- Webinars, anuncios, eventos, horario (Michael)-->

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

          <a class="nav-link  active" routerLink="/home"><i class="fas fa-home"></i> Inicio </a>
        </li>
        <li class="nav-item">
          <!-- Misión, Visión, Acerca de los programadores (Paúl) -->
          <a class="nav-link" routerLink="/acerca"><i class="fas fa-user"></i> Acerca </a>
        </li>
        <li class="nav-item">
          <!-- Galería fotográfica de cada laboratorio,descripción, ubicación (Paúl)-->
          <a class="nav-link" routerLink="/laboratorios"><i class="fas fa-flask"></i> Laboratorios </a>
        </li>
        <li class="nav-item">
          <!-- Materias que se dictan, perfil del docente (Sebastián) -->
          <a class="nav-link" routerLink="/docentes"><i class="fas fa-id-card-alt"></i> Docentes </a>
        </li>
        <li class="nav-item">
          <!-- Materias que se dictan, perfil del docente (Sebastián) -->
          <a class="nav-link" routerLink="/eventos"><i class="fas fa-calendar-alt"></i> Eventos </a>
        </li>
        <li class="nav-item">
          <!-- Ubicación de la universidad, formulario de contacto para los programadores (Sebastián) -->
          <a class="nav-link" routerLink="/contactanos"><i class="fas fa-map-marked-alt"></i> Contáctanos </a>
        </li>
        <li class="nav-item">
          <!-- Inicio de Sesión (Michael) -->
          <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión </a>
        </li>
      </ul>
    </div>
  </div>
</nav>