body {
	background-color: rgb(251, 251, 251);
  }
  
.servicios .col{
  background-color: white;
  border: 1px solid white;
  color: rgb(19, 66, 131);
  border: 1px solid rgb(19, 66, 131);
  cursor: pointer;
}

.servicios button{
  background: none;
  border: none;
}

.servicios .col:hover{
  background-color: rgb(19, 66, 131);
  color: white;
}

.row i{
  font-size: 3em;
  text-align: center;
}

.row h1{
  text-align: center;
  font-size: 2em;
}
.servicios .col{
  padding: 2em;
}
.titulo_eventos
{
  border-right: 2px solid white;
}

.titulo{
  color:rgb(19, 66, 131) ;
  padding: 0.5em;
  background-color: rgba(199, 194, 194, 0.354);
}

.col .carousel_noticias,.carousel_noticias .carousel-item img
{
  width: 100%;
  height: 36vw;
}

.carousel-caption{
  background-color: rgb(0,0,0,.5);
  width: 100%;
  position: absolute;
  left: 0;
}
